# System files
.DS_Store
.vscode

# Compiled files
*.o
*.a
a.out
ircserv
ircserv_bonus
ircbot
.irc_port

# Git
.git
*.git
.dir

# Project-specific
Cursus/C/Libft/libftTester
libftprintf.a

# Object files
*.m
